<table class="tbl-nb" summary="사용자명,사용자ID,권한,최근로그인,접속IP,사용,등록일,수정일,상세">
	<colgroup>
		<col width="auto" /><col width="auto" /><col width="11%" /><col width="14%" />
		<col width="11%" /><col width="8%" /><col width="11%" /><col width="11%" />
		<col width="8%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">#springMessage("common.text.name")</th> <!-- 이름 -->
			<th scope="col">#springMessage("common.text.id")</th> <!-- 아이디 -->
			<th scope="col">#springMessage("common.header.authGroup")</th> <!-- 권한그룹명 -->
			<th scope="col">#springMessage("menu.securePush.manageAccount.lastLoginTime")</th> <!-- 최근 로그인 일시 -->
			<th scope="col">#springMessage("menu.securePush.manageAccount.accessIp")</th> <!-- 접속 IP -->
			<th scope="col">#springMessage("common.header.useYN")</th> <!-- 사용여부 -->
			<th scope="col">#springMessage("common.text.registDate")</th> <!-- 등록일시 -->
			<th scope="col">#springMessage("common.text.updateDate")</th>	<!-- 수정일시 -->
			<th scope="col"> </th>
		</tr>
	</thead>
	<tbody>
		#foreach( $itemInfo in $itemList )
			#set($j_tot = $!itemInfo.TOT_CNT)
			<tr>
				<td >
					$esc.xml($!itemInfo.NM_USER)
					<input type="hidden" class="ID_USER" value="$!itemInfo.ID_USER" />
				</td>
				<td >
					$!itemInfo.ID_USER
				</td>
				<td>
					$!itemInfo.NM_GROUP
				</td>
				<td>
					$!itemInfo.DT_LOGIN
				</td>
				<td>
					$!itemInfo.REMOTE_IP
				</td>
				<td>
					$!itemInfo.YN_USE
				</td>
				<td>
					$!itemInfo.DT_INSERT
				</td>
				<td>
					$!itemInfo.DT_UPDATE
				</td>
				<td>
					<a href="javascript:void(0)" class="btn2" id="pageModify">#springMessage("common.button.modify")</a> <!-- 수정 -->
				</td>
			</tr>
		#end
		#if(!$j_tot)
			<tr>
				<td colspan="9" class="ta_c">#springMessage("common.alert.nodata")</td>		### 데이터가 없습니다 ###
			</tr>
		#end
	</tbody>
</table>

<input type="hidden" id="PAGE_NUM" value="$!R_PAGE_NUM" />

<div class="j_page_div">
	##현재 페이지
	<input type="hidden" name="j_now" value="$!R_PAGE_NUM" />
	##총 개수
	<input type="hidden" name="J_tot" value="$!j_tot" />
	##한페이지의 로우수
	<input type="hidden" name="j_row" value="$!R_ROW_SIZE" />
	##한페이지수
	<input type="hidden" name="j_page" value="$!R_PAGE_SIZE" />
	##이밴트
	<input type="hidden" name="j_event" value="fn_pageList" />
</div>