<h4 class="title">#springMessage("menu.system.authAccessTitle")</h4> <!-- AUTH ACCESS 목록 -->
<table class="tbList1" summary="항목선택,CUID,이름,전화번호">
	<colgroup><!--  4cell  -->
		<col width="auto"/><col width="15%"/><col width="20%"/><col width="70px"/>
	</colgroup>
	<thead>
		<tr>
			<th scope="col">#springMessage("menu.system.accessKey")</th> <!-- ACCESS KEY -->
			<th scope="col">#springMessage("menu.system.useYN")</th> <!-- 사용 여부 -->
			<th scope="col">#springMessage("menu.system.date")</th> <!-- 등록일 -->
			<th scope="col"> </th>
		</tr>
	</thead>
	<tbody>
		#foreach( $authAccess in $authAccessList )
        	#set($j_tot = $!authAccess.TOT_CNT)
	       	<tr>
	       		<td id="click_AccessTr" style="text-align:left;">
	       			$esc.xml($!authAccess.ACCESS_KEY)
	       			<input type="hidden" class="AUTH_IDX" value="$!authAccess.AUTH_IDX">
       			</td>
       			<td id="click_AccessTr">
	       			$!authAccess.USE_YN
	       		</td>
	       		<td id="click_AccessTr">
	       			$!authAccess.REG_DTTM
	       		</td>
       			<td>
	       			<button type="button" id="authAccessModify" class="btn_style2"><span>#springMessage("common.button.modify")</span></button><!-- 수정 -->
       			</td>
        	</tr>
       	#end
       	#if(!$j_tot)
			<tr>
				<td colspan="4">
					#springMessage("common.alert.nodata")<!-- 데이터가 없습니다. -->
				</td>
			</tr>
		#end
	</tbody>
</table>
<input type="hidden" id="MOBILE_NUM" value="$!R_PAGE_NUM">
<div class="j_page_div">
 	##현재 페이지
 	<input type="hidden" name="j_now" value="$!R_PAGE_NUM">
    ##총 개수
    <input type="hidden" name="J_tot" value="$!j_tot">
    ##한페이지의 로우수
    <input type="hidden" name="j_row" value="$!R_ROW_SIZE">
    ##한페이지수
    <input type="hidden" name="j_page" value="$!R_PAGE_SIZE">
    ##이밴트
    <input type="hidden" name="j_event" value="fn_apiAccessList">
</div>