<script type="text/javascript" src="${RESOURCES_PATH}/js/jquery/ajaxfileupload.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//공통 페지징 처리
		fn_page('j_page_div', '$!{CONTEXT_PATH}');
		
		//검색메뉴 hide
		$(".se_con").each(function(i){
			if(i != 0){
				$(this).hide();
			}
		});
		
		//다이얼로그 생성(ID별로 생성 가능)
	    jQuery( "#dialogPop" ).dialog({
	        autoOpen: false,
	        modal   : true,
	        width   : 650,
	        height  : 650, // 'auto' 가능
	        title   : ' #springMessage("menu.store.notice.info")',//"공지사항 정보",
	        open    : function(){ fn_dialogDesign('dialogPop'); }//타이틀 및 닫기버튼디자인적용(ID전달 필요)
	    });
		
		//레이어 팝업 사용
		$(".window").css({width:"650px", height:"650px"});
		
		
		//메시지가 있으면 출력 
		if($("#rtnCd").val() != "empty"){
			alert($("#rtnMsg").val());
		}
		
		//file index
		$(document).on('click', 'a[fileidx]', function(e){
			e.preventDefault();
			
			if(confirm('#springMessage("menu.store.notice.alert.doFileRemove")')){ //선택한 파일을 삭제하시겠습니까?
			
				fn_fileDelete($(this).attr("fileidx"));
				$(this).closest('div.parentDiv').remove();
			
			}	
		});
		
		
		$(document).on('click','#fileAppend',function(){
			var fileIndex = $('input:file','#fileTable').length;
		  
		    var txt = '<tr><td style="padding:5px;"><input type="file" name="files[' + fileIndex + ']"  title="'+'#springMessage("common.alert.chooseFile")'+'" /></td>' //파일을 선택하세요.
				  + '<td><a href="#" fileidx=""><img src="${RESOURCES_PATH}/img/icon/btn_icon_del.gif" alt="file delete"/></a></tr>';
			
			$('#fileTable').append(txt);
			return false;
		});
			
	});
	
	$(document).on("change","#conSelect",function(){
		var su = $(this).val();
		$(".se_con").hide();
		$(".se_con").val("");
		$(".se_con:eq(" + su + ")").show();
	});
	
	function fn_se_select(){
		fn_noticeList(1);
	}
	
	$(document).on("click",".noticeDiv",function(){
		
		var BOARD_IDX = $(this).find("#BOARD_IDX").val();
		
		$(".select").removeClass().addClass("noticeDiv");
		$(this).removeClass().addClass("select");
		
		$("#CH_BOARD_IDX").val( BOARD_IDX );
		
	});

		
	//팝업리스트 페이지 구현
	function fn_noticeList(PAGE_NUM){
		var url = "/admin/store/notice";
		var data = $("form[name=frmSearch]").serialize() + "&PAGE_NUM=" + PAGE_NUM;
		var target = $("#noticeTableDiv");
		var type = "POST";
		fn_getPage( url, type, data, target );
		$("#CH_BOARD_IDX").val("");
	
		fn_page('j_page_div', '$!{CONTEXT_PATH}');
	}
	
	//팝업 등록 (화면)
	function fn_newWrite(){
		var data = "";
		var url = "/admin/store/notice/regist";
		var type = "GET";
		var target = $("#windowPop");
		
		fn_getPage( url, type, data, target );
		
		//공통 마스크 처리
		wrapMask();
		//정중앙 배치
		centerWindow();
		
		//팝업 화면 보이기
		$("#layerpopup .window").show();
	}
	
	//팝업 등록
	function fn_save(){
		if( $("form[name=frmNotice]").find("input[name=NOTI_TITLE]").val() == ""){
			alert('#springMessage("menu.store.notice.alert.titleIn")'); //공지사항 제목을 입력해주세요.
			return;
		}else if( $("form[name=frmNotice]").find("textarea[name=NOTI_CONTENT]").val() == "" ){
		 	alert('#springMessage("menu.store.notice.alert.contentIn")'); //공지사항 내용을 입력해주세요.
		    return;
		}else if( $("form[name=frmNotice]").find("select[name=NOTI_TYPE]").val() == "" ){
		 	alert('#springMessage("menu.store.notice.alert.chooseType")'); //공지사항 구분을 선택해주세요.
		    return;
		}
		
	
		//var data = $("form[name=frmNotice]").serialize();
		//$("form[name=frmNotice]").serialize();
		
		//upload event
	
		document.frmNotice.action   = "/admin/store/notice/regist";
        document.frmNotice.submit(); 
       
		/*
		jQuery.ajax({
			url:url,
			type:"POST",
			data:data,
			dataType:"json",
			success:function(data){
				alert(data.msg);
				if(data.result > 0){
					fn_noticeList(1);
					fn_closePopup();
					
				}
			}
		});
		*/
		
		
	}
	
	//팝업 수정
	function fn_modify(){
		if( $("form[name=frmNotice]").find("input[name=NOTI_TITLE]").val() == ""){
			alert('#springMessage("menu.store.notice.alert.titleIn")'); //공지사항 제목을 입력해주세요.
			return;
		}else if( $("form[name=frmNotice]").find("textarea[name=NOTI_CONTENT]").val() == "" ){
			alert('#springMessage("menu.store.notice.alert.contentIn")'); //공지사항 내용을 입력해주세요.
		    return;
		}
		
		//var url = "/admin/store/notice/edit";
		//var data = $("form[name=frmNotice]").serialize();
	
		
		document.frmNotice.action   = "/admin/store/notice/edit";
        document.frmNotice.submit(); 
        
            
		/*
		jQuery.ajax({
			url:url,
			type:"POST",
			data:data,
			dataType:"json",
			success:function(data){
				alert(data.msg);
				if(data.result > 0){
					fn_noticeList($("#notice_num").val());
					fn_closePopup();
				}
			}
		});
		
		jQuery.ajaxFileUpload({
			url: '/admin/store/notice/edit',
			secureuri:false,
			fileElementId:'FILE1',
			data: data,
			dataType: 'html/text',
			contentType : 'multipart/form-data',
			success: function (data,status) {
			var result = jQuery.parseJSON(data);
			alert(result.msg);
				if(data.result > 0){
					fn_noticeList($("#notice_num").val());
					fn_closePopup();
				}
			},
			error:function(x,e){
				alert('오류가 발생했습니다. 계속해서 같은 오류발생시 관리자에게 문의하십시오.');
			}
		});
		*/
		
		
	}
	
	//팝업 삭제
	function fn_delete(){
		var url = "/admin/store/notice/delete";
		var data = $("form[name=frmNotice]").serialize();
		
		jQuery.ajax({
			url:url,
			type:"POST",
			data:data,
			dataType:"json",
			success:function(data){
				alert(data.msg);
				if(data.result > 0){
					fn_noticeList(1);
					fn_closePopup();
				}
				
			}
		});
	}
	
	//파일 삭제
	function fn_fileDelete(fileIdx){
		var url = "/admin/store/notice/fileDelete";
		var data = $("form[name=frmNotice]").serialize();
		//실제 선택한 파일만 삭제 
		data = data + "&FILE_IDX="+fileIdx;
		
		//alert(data + "||fileIdx=" + fileIdx);
		jQuery.ajax({
			url:url,
			type:"POST",
			data:data,
			dataType:"json",
			success:function(data){
				alert(data.msg);
			
			}
		});
	}
		
	
	//팝업 상세 (화면)
	$(document).on("click","#groupModify", function(){
		var data = "BOARD_IDX=" + $(this).parent().parent().find("#BOARD_IDX").val();
		var url = "/admin/store/notice/edit";
		var type = "GET";
		var target = $("#windowPop");
		fn_getPage( url, type, data, target );
		
		//공통 마스크 처리
		wrapMask();
		
		//정중앙 배치
		centerWindow();
		
		//팝업 화면 보이기
		$("#layerpopup .window").show();
		
		//컨텐츠 채우기(url, method, data, targetObject)
        fn_getCommonList( "userSearch", "GET", "", jQuery('#dialogPop') );
        //열기
        jQuery("#dialogPop").dialog('open');
		
	});
	
		
	//공통코드 페이지 호출(공통)
	function fn_getPage( url, type, data, target ){
		var AjaxHTML = jQuery.ajax({
			url: url ,
			type: type ,
			data: data ,
			dataType: "html" ,
			async: false
		}).responseText;
		
		target.html(AjaxHTML);
	}
	
	// 마스크 및 파업창 닫기
	$(document).on("click","#maskClose",function( e ){
		e.preventDefault();
		fn_noticeList(1); //팝업 닫을 때 리스트 재조회
		fn_closePopup();
		
	});
</script>

<div id="conWrap">

	#### S : 프로그램 위치 기술 부분  ####
    <div class="headerBg">
    	<div class="innerNavi">
    		<a href="#"><img src="${RESOURCES_PATH}/img/icon/icon_home.gif" alt="home"/></a> <span>ADMIN</span> <span>#springMessage("menu.system.serviceAppstore")</span> <span>#springMessage("menu.system.notice")</span> <strong>#springMessage("common.text.list")</strong> <!-- 앱스토어 / 공지사항 / 목록 -->
		</div>
		<div class="tb_tit">
			<h3>#springMessage("menu.store.notice.manage")</h3> <!-- 공지사항 관리 -->
		</div>
	</div>
    #### E : 프로그램 위치 기술 부분  ####
	
   #### S : 조회 폼 부분  ####
   <form name="frmSearch" method="post">
		<input type="hidden" id="rtnCd" value="$!rtnCd" />
		<input type="hidden" id="rtnMsg" value="$!rtnMsg" />
		<div class="detail_searchBox">
			<p>
				<select id="conSelect">
		            <option value="0">#springMessage("common.header.title")</option> <!-- 제목 -->
		          	<option value="1">#springMessage("common.header.contents")</option> <!-- 내용 -->
			    </select>
			    
			    <input class="se_con" type="text" name="BOARD_TITLE" />
		        
		        <input class="se_con" type="text" name="BOARD_CONTENT" />
		        <input type="hidden"  name="BOARD_TYPE" value="">
			</p>
			<p class="btn_detail">
				<button type="button" onclick="fn_se_select()" class="btn_search">#springMessage("common.button.view")</button> <!-- 조회  -->
			</p>
		</div>
	</form>
	
	<form class="frmList" name="frmList" method="post">
	<div class="contents">
		<input type="hidden" id="CH_BOARD_IDX">
		
		<input type="hidden" id="SVC_ID" value="$!SVC_ID" />
      	#### S : 리스트  폼 부분  ####
		<div class="tbCon">
			
             	<div id="noticeTableDiv">
#parse ("/admin/store/notice/noticeList.vm")             	
                </div>
	            
	           	<div class="btnArea ta_l">
            			<button type="button" class="btn_style1" onclick="fn_newWrite();"><strong>#springMessage("common.button.regist")</strong></button> <!-- 등록 -->
            	</div>
	    </div>
	  
    </div>
    #### E : 리스트  폼 부분  ####
	</form>
</div>
