<table  class="tbl"  id="tbList" >
	<colgroup >
		<col  width="5%"/>
		<col  width="10%"/>
		<col  width="AUTO"/>
		<col  width="10%"/>
		<col  width="15%"/>
		<col  width="10%"/>
	</colgroup>
	<thead>
		<tr>
			<th>No</th>
			<th>#springMessage("menu.push.setting.templateType")</th> <!-- 템플릿유형 -->
			<th>#springMessage("menu.push.setting.templateName")</th> <!-- 템플릿명 -->
			<th>#springMessage("common.header.author")</th> <!-- 작성자 -->
			<th>#springMessage("menu.mobile.deploy.date")</th> <!-- 등록일 -->
			<th></th>
		</tr>
	</thead>
	<tbody>
		#foreach( $template in $templateList )
		#set($j_tot = $!template.TOT_CNT)
		<tr>
			<td>$!template.RNUM</td>
			<td>
				<input type="hidden" class="TEMPLATE_CODE" value="$!template.TEMPLATE_CODE" /> 
				#if($!template.CATEGORY_TYPE == '0') #springMessage("common.text.base") <!-- 기본 -->  
				#elseif($!template.CATEGORY_TYPE == '1') #springMessage("common.text.webPage") <!-- 웹페이지 -->
				#elseif($!template.CATEGORY_TYPE == '2') #springMessage("common.text.video") <!-- 동영상 --> 
				#elseif($!template.CATEGORY_TYPE == '3') #springMessage("common.text.image") <!-- 이미지 -->
				#else Undefined
				#end
			</td>
			<td>$!template.TEMPLATE_TITLE</td>
			<td>$!template.REG_ID</td>
			<td>$!template.REG_DT</td>
			<td>
				<a href="javascript:void(0)" onClick="fn_setTemplateSelected('$template.TEMPLATE_CODE')" class="tbl-btn1">#springMessage("common.select.choose")</a> <!-- 선택 --> 
		</tr>	
		#end	
		
		#if(!$j_tot)
		<tr>
			<td colspan="6" class="ta_c">#springMessage("common.alert.nodata")</td> <!-- 데이터가 없습니다. -->
		</tr>
		#end
	</tbody>
</table>
<input type="hidden" id="PAGE_NUM" value="$!R_PAGE_NUM" />
<div class="j_page_div">
	##현재 페이지
	<input type="hidden" name="j_now" value="$!R_PAGE_NUM"/>
	##총 개수
	<input type="hidden" name="J_tot" value="$!j_tot"/>
	##한페이지의 로우수
	<input type="hidden" name="j_row" value="$!R_ROW_SIZE"/>
	##한페이지수
	<input type="hidden" name="j_page" value="$!R_PAGE_SIZE"/>
	##이밴트
	<input type="hidden" name="j_event" value="fn_getTemplateList"/>
</div>
	