<link rel="stylesheet" type="text/css" href="$RESOURCES_PATH/jEasyUiTree/easyui.css" >
<link rel="stylesheet" type="text/css" href="$RESOURCES_PATH/jEasyUiTree/icon.css">
<script type="text/javascript" src="$RESOURCES_PATH/js/jquery/ajaxfileupload.js"></script>
<script type="text/javascript" src="$RESOURCES_PATH/jEasyUiTree/jquery.easyui.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
		//공통 페지징 처리
    	fn_page('j_page_div', '$!{CONTEXT_PATH}');
    });
    
    $(document).ready(function(){
        //레이어 팝업 사용
        $(".window").css({width:"650px", height:"650px"});

       
        //달력 구현
        $("#START_DT").datepicker({
            regional        : "ko",
            showOn          : "button",
            buttonImage     : CONTEXT_PATH + "/resources/css/4.0/img/icon_calen.gif",
            buttonImageOnly : true
        });

        //달력 구현
        $("#END_DT").datepicker({
            regional        : "ko",
            showOn          : "button",
            buttonImage     : CONTEXT_PATH + "/resources/css/4.0/img/icon_calen.gif",
            buttonImageOnly : true
        });
    });
    
    //조회 검색
    function ch_search(){
		fn_campaignList(1);
    }
    
    //페이징 처리
    function fn_campaignList(PAGE_NUM){
		var selectRowSize = document.getElementById('selRowSize');
		var startDate = $("#START_DT").val();
		var endDate = $("#END_DT").val();
		
    	var url = CONTEXT_PATH + "/admin/campaign/campaignManage";
    	var type = "POST";
    	var data ="CAMPAIGN_FROM_DT=" + startDate + "&" + 
    			  "CAMPAIGN_TO_DT=" + endDate + "&" +
    			  "PAGE_NUM=" + PAGE_NUM +
				  "&PAGE_SIZE="+selectRowSize[selectRowSize.selectedIndex].value;
    	var target = $("#divList");
    	fn_getPage( url, type, data , target );
    	fn_page('j_page_div', '$!{CONTEXT_PATH}');
    }
    
    //공통코드 페이지 호출(공통)
    function fn_getPage( url, type, data, target ){
    	var AjaxHTML = jQuery.ajax({
    		url: url ,
    		type: type ,
    		data: data ,
    		dataType: "html" ,
    		async: false ,
    		cache:false
    	}).responseText;
    
    	target.html(AjaxHTML);
    }
	
	//삭제
	function fn_delete(){
		if(confirm('#springMessage("menu.prevent.appManage.alert.realDelete")')){ //"정말 삭제 하시겠습니까?" 
			var arrCmpId = new Array();
			$(".checkList:checked").each(function(){
				var cmpId = $(this).parents("tr").find("#cmpId")[0].value*1;
				arrCmpId.push(cmpId);
			});
			fn_deleteCampaign(arrCmpId);
		}
	}
	
	
	function fn_deleteCampaign(arrCmpId){
		var url = CONTEXT_PATH + "/admin/campaign/delCampaign";
    	var data = "LIST_CMP_IDX=" + arrCmpId;
    	jQuery.ajax({
    			url:url,
    			type:"POST",
    			data:data,
    			dataType:"json",
				cache: false,
    			success:function(data){
					var msg;
					if(data.result == 0){
						msg = '#springMessage("menu.mobile.common.failDelete")';//"삭제를 실패 하였습니다."
					}else{
						msg = '#springMessage("menu.mobile.common.successDelete")';//"삭제를 성공 하였습니다.";
					}
    				alert(msg);
    				fn_campaignList(1);
    				fn_closePopup();
    			}
    		});
	}
	
	//수정
    function fn_modify(){
		var appId = document.frmServiceInfo.AppId.value;
        var appVer = document.frmServiceInfo.AppVer.value;
        var osType = document.frmServiceInfo.OsType.value;
    	var FRA_DESC = $("#txtFraDesc").val();
		
		var data = "APP_ID=" + appId + "&" + 
    			   "APP_VER=" + appVer + "&" +
    			   "OS_TYPE=" + osType + "&" + 
				   "FRA_DESC=" + FRA_DESC;
        var url = CONTEXT_PATH + "/admin/fraudPrevent/modifyAppManage";
    	var type = "POST";
        			  
    	jQuery.ajax({
    			url:url,
    			type:"POST",
    			data:data,
    			dataType:"json",
				cache: false,
    			success:function(data){
					var msg;
					if(data.result == 0){
						msg = '#springMessage("menu.mobile.common.failUpdate")';//"수정을 실패 하였습니다."
					}else{
						msg = '#springMessage("menu.mobile.common.successUpdate")';//"수정을 성공 하였습니다.";
					}
    				alert(msg);
    				fn_appManageList(1);
    				fn_closePopup();
    			}
    	});
    }
	
	//등록 팝업 호출
    $(document).on("click","#btnEntry",function(){
    	var url = CONTEXT_PATH + "/admin/campaign/campaignManageDetail";
    	var type = "GET";
    	var data = "";
    	var target = $("#windowPop");
    	var whideh = 600;
    	var title = '#springMessage("campaign.manageRegist")'; //"캠페인 관리 등록";
    	fn_getCommonPopupDiv( url, type, data , target , whideh, title );
    });
	
	//수정 팝업 호출
	function fn_getAppManageDetailModify(APP_ID, APP_VER, OS_TYPE){
        var url = CONTEXT_PATH + "/admin/campaign/campaignManageDetail";
    	var type = "POST";
    	var data = "APP_ID=" + APP_ID + "&" + 
    			   "APP_VER=" + APP_VER + "&" +
    			   "OS_TYPE=" + OS_TYPE;
    	var target = $("#windowPop");
    	var whideh = 600;
    	var title = '#springMessage("campaign.manageUpdate")'; //"캠페인 관리 수정";
    	fn_getCommonPopupDiv( url, type, data , target , whideh, title );
	}
	
	//저장
    function fn_save(){
    	var cmpNm = $("#txtCampaignNm").val();
    	var cmpContent = $("#WEBEDIT").val();
    	var fromDt = $("#pSTART_DT").val();
    	var toDt = $("#pEND_DT").val();
    	
    	var data = "CAMPAIGN_NM=" + cmpNm + "&" + 
    			   "CAMPAIGN_CONTENT=" + cmpContent + "&" +
    			   "CAMPAIGN_FROM_DT=" + fromDt + "&" + 
				   "CAMPAIGN_TO_DT=" + toDt;
		var url = CONTEXT_PATH + "/admin/campaign/addCampaign";
		
		jQuery.ajax({
    			url:url,
    			type:"POST",
    			data:data,
    			dataType:"json",
				cache: false,
    			success:function(data){
					var msg;
					if(data.result == 0){
						msg =  '#springMessage("menu.store.device.alert.saveFail")'; //"저장을 실패 하였습니다."
					}else{
						msg =  '#springMessage("menu.store.device.alert.save")'; //"저장을 성공 하였습니다.";
					}
    				alert(msg);
    				fn_campaignList(1);
    			}
    		});				   
    }
	
	function fn_changeRowSize(){
    	fn_commonSetRowSize();
    	fn_campaignList(1);
	}
	
	$(document).on("click","#checkAll",function(){
		if($(this).is(":checked")){
			$(".checkList").each(function(){
				$(this)[0].checked = true;
			});
		}else{
			$(".checkList").each(function(){
				$(this)[0].checked = false;
			});
		}
	});

	function fn_msgSender(){
        var url = CONTEXT_PATH + "/admin/campaign/msgSender";
    	var type = "GET";
    	var target = $("#windowPop");
    	var whideh = 600;
    	var data = "PAGE_NUM=" + 1;
    	var title = '#springMessage("menu.push.sendManage.senderSet")';//"발송자 설정";
    	fn_getCommonPopupDiv( url, type, data , target , whideh, title );
	}
	
	function fn_targetSelection(){
        var url = CONTEXT_PATH + "/admin/campaign/targetSelection";
    	var type = "GET";
    	var target = $("#windowPop");
    	var whideh = 600;
    	var data = "PAGE_NUM=" + 1;
    	var title = '#springMessage("menu.push.sendManage.targetPerson")';//"대상자 선택";
    	fn_getCommonPopupDiv( url, type, data , target , whideh, title );
	}
	
</script>
<div id="conWrap">
	#### S : 프로그램 위치 기술 부분  ####
	<div class="header_bg">
		<div class="inner_navi"></div>
		<div class="tb_tit"></div>
	</div>
	#### E : 프로그램 위치 기술 부분  ####

	#### S : 조회 폼 부분  ####
	<fieldset class="search_type">
		<table>
			<tr>
				<th>#springMessage("menu.mobile.manage.term")</th> <!-- 기간 -->
				<td class="par_30">
					<input class="datePicker_dtB w120" type="text" id="START_DT" name="START_DT" maxlength="8" style="margin-right: 5px"/>
                    ~
                    <input class="datePicker_dtE w120" type="text" id="END_DT" name="END_DT" maxlength="8"  style="margin-right: 5px"/>
				</td>
                <th>#springMessage("common.header.title")</th> <!-- 제목 -->
                <td class="par_30">
                	<input class="se_con" type="text" id="searchTitle" name="SEARCH_TITLE"  onkeydown="javascript:if(event.keyCode==13){ch_search();return false;}"/>
				</td>
            </tr>
        </table>
		<button type="button" onclick="ch_search()" class="btn_inquiry">#springMessage("common.button.view")</button> <!-- 조회  -->
	</fieldset>
	#### E : 조회 폼 부분  ####

	<div class="content">
		<div class="tbCon">
			## listView Header
			<div class="btn_sel_group stats_group">
            	<div class="fl" id="deployDiv">
            		
            		<button type="button" id="btnMsgSender" onclick="fn_msgSender()" class="btn_basic" style="float:right"><span>springMessage("menu.stats.push.sender") springMessage("common.select.choose")</span></button><!-- 발송자 선택 -->
            		<button type="button" id="btnMsgSender" onclick="fn_targetSelection()" class="btn_basic" style="float:right"><span>springMessage("common.text.user") springMessage("common.select.choose")</span></button> <!-- 사용자 선택 -->
            		
            		
					<button type="button" id="btnEntry" class="btn_basic" style="float:right"><span>#springMessage("common.button.regist")</span></button> <!-- 등록 -->
					<button type="button" id="btnDelete" onclick="fn_delete()" class="btn_pink" style="float:right"><span>#springMessage("common.button.delete")</span></button> <!-- 삭제 -->
                </div>
            	<div class="fr">
					<p>#springMessage("common.header.searchResult") <span id="spaTotCnt"></span></p> <!-- 검색결과  -->
            		<select id="selRowSize"  title="#springMessage('common.title.selectOne')"  onchange="fn_changeRowSize()">  <!-- 항목선택 -->
            			<option value="10">#springMessage("common.select.options_10")</option> <!-- 10개씩 보기 -->
            			<option value="30">#springMessage("common.select.options_30")</option> <!-- 30개씩 보기 -->
            			<option value="50">#springMessage("common.select.options_50")</option> <!-- 50개씩 보기 -->
            		</select>	
                </div>
			</div>
			## ListView Body
			<div id="divList">
				#parse("admin/campaign/campaignManage/campaignManageList.vm")
			</div>
		</div>
	</div>
</div>