<form name="versionInsertform" method="post">

		<table class="tbl" summary="코드,코드명,코드설명,우선순위,변경구분">
			<colgroup><!--  4cell  -->
				<col width="30%"/><col width="auto"/>
			</colgroup>
			<tr>
				<th>
					<label for="APP_ID">App. ID</label>
				</th>
				<td>
					$!mobileServiceOne.APP_ID
				</td>
			</tr>
			<tr>
				<th>
					<label for="SVC_NM">#springMessage("common.text.appname")</label> <!-- App. 명 -->
				</th>
				<td>
					$!mobileServiceOne.SVC_NM
				</td>
			</tr>
			<tr>
				<th>
					<label for="SVC_DTL">#springMessage("common.text.appDesc")</label> <!-- App. 설명 -->
				</th>
				<td style="word-wrap: break-word;">
					$!mobileServiceOne.SVC_DTL
				</td>
			</tr>
			<tr>
				<th>
					<label for="A_VERSION">#springMessage("common.text.androidVersion")</label> <!-- 안드로이드 버전 -->
				</th>
				<td>
					#if($mobileServiceOne.A_VERSION)
						$!mobileServiceOne.A_VERSION (#springMessage("menu.mobile.version.nowUpdate")) <!-- 현재 업데이트 버전 -->
					#else
						미사용
					#end
				</td>
			</tr>
			<tr>
				<th>
					<label for="I_VERSION">#springMessage("common.text.iosVersion")</label> <!-- iOS 버전 -->
				</th>
				<td>
					#if($mobileServiceOne.I_VERSION)
						$!mobileServiceOne.I_VERSION (#springMessage("menu.mobile.version.nowUpdate")) <!-- 현재 업데이트 버전 -->
					#else
						미사용
					#end
				</td>
			</tr>
		</table>

	<div class="btn-wrap txtCenter">
		<a href="javascript:void(0)" onClick="fn_closePopup()" class="btn1 type2 close">#springMessage("common.button.close")</a>	<!-- 닫기 -->
	</div>

</form>