<form name="frmUserInfo" method="POST">
	<div class="popup_content">
		<table class="tbType1">
			<colgroup>
				<col width="20%"></col>
				<col width="80%"></col>
			</colgroup>
			<tr>
				<th>
					#springMessage("menu.push.reserveDate") <!-- 예약일시 -->
				</th>
				<td>
					$esc.xml($!userReserveSendOne.RESERVEDATE)
				</td>
			</tr>
			<tr>
				<th>
					#springMessage("menu.stats.push.sender")ID <!-- 발송자 -->
				</th>
				<td>
					$esc.xml($!userReserveSendOne.SENDERCODE)
				</td>
			</tr>
			<tr>
				<th>
					#springMessage("menu.push.msgContent") <!-- 메시지 내용 -->
				</th>
				<td style="word-wrap: break-word;">
					$esc.xml($!userReserveSendOne.MESSAGE)
				</td>
			</tr>
		</table>
		<div class="btnArea ta_r">
			<button type="button" onclick="fn_closePopup();" class="btn_style1"><span>#springMessage("common.button.close")</span></button> <!-- 닫기 -->
		</div>
	</div>
</form>