<div class="popup_content">
	<!--  table List  -->
	<table class="tbList1" style="word-wrap: break-word;">
		<thead>
			<tr>
				<th scope="cols">
					#springMessage("menu.push.setting.sendDate") <!-- 발송일시 -->
					<input type="hidden" id="R_SEQNO" value="$R_SEQNO">
				</th>
				<th scope="cols">#springMessage("menu.push.setting.sendType")</th> <!-- 발송유형 -->
				<th scope="cols">APPID</th>
				<th scope="cols">CUID</th>
				<th scope="cols">#springMessage("menu.stats.push.sender")ID</th> <!-- 발송자 -->
				<th scope="cols">#springMessage("common.text.registDate")</th> <!-- 등록일시 -->
			</tr>
		</thead>
		<tbody>
			#foreach( $groupReserveSend in $groupUserSendinfoList )
	       		#set($j_tot = $groupReserveSend.TOT_CNT)
	           	<tr id="infoListTr">
	           		<td >
	           			$esc.xml($!groupReserveSend.RESERVEDATE)
	   				</td>
	   				<td>
	   					 #if( $!groupReserveSend.RESERVE_TYPE == 'I' )
	   					 	#springMessage("menu.push.sendManage.now") <!-- 즉시 -->
	   					 #else
	   					 	#springMessage("menu.push.sendManage.reserve") <!-- 예약 -->
	   					 #end
	   				</td>
	   				<td >
	           			$esc.xml($!groupReserveSend.APPID)
	           		</td>
	   				<td >
	           			$esc.xml($!groupReserveSend.CUID)
	           			<input type="hidden" id="infoCuid" value="$!groupReserveSend.CUID">
	   				</td>
	   				<td >
	           			$esc.xml($!groupReserveSend.SENDERCODE)
	   				</td>
	   				<td >
	   					$esc.xml($!groupReserveSend.REGDATE)
	           		</td>
	       		</tr>
	   		#end
	   		#if(!$j_tot)
				<tr>
					<td colspan="5">
						#springMessage("common.alert.nodata") <!-- 데이터가 없습니다. -->
					</td>
				</tr>
			#end
		</tbody>
	</table>
	<input type="hidden" id="INFO_PAGE_NUM" value="$!R_PAGE_NUM">
	<div class="j_page_div">
	 	##현재 페이지
	 	<input type="hidden" name="j_now" value="$!R_PAGE_NUM">
	    ##총 개수
	    <input type="hidden" name="J_tot" value="$!j_tot">
	    ##한페이지의 로우수
	    <input type="hidden" name="j_row" value="$!R_ROW_SIZE">
	    ##한페이지수
	    <input type="hidden" name="j_page" value="$!R_PAGE_SIZE">
	    ##이밴트
	    <input type="hidden" name="j_event" value="fn_RserveinfoList">
	</div>
	<!--  btnArea  -->
	<div class="btnArea ta_r">
		<a href="javascript:fn_closePopup();" id="maskClose" class="btn_style1"><span>#springMessage("common.button.close")</span></a> <!-- 닫기 -->
	</div>
</div>
