<form name="frmUserInfo" method="POST">
	<div class="popup_content">
		<table class="tbType1">
			<colgroup>
				<col width="20%"></col>
				<col width="80%"></col>
			</colgroup>
			<tr>
				<th>
					#springMessage("menu.push.reserveDate") <!-- 예약일시 -->
				</th>
				<td>
					$esc.xml($!groupReserveSendOne.RESERVEDATE)
				</td>
			</tr>
			<tr>
				<th>
					#springMessage("menu.stats.push.sender")ID <!-- 발송자 -->
				</th>
				<td>
					$esc.xml($!groupReserveSendOne.SENDERCODE)
				</td>
			</tr>
			<tr>
				<th>
					#springMessage("menu.push.msgContent") <!-- 메시지 내용 -->
				</th>
				<td>
					<textarea cols="80" rows="3" readonly="readonly">$esc.xml($!groupReserveSendOne.MESSAGE)</textarea>
				</td>
			</tr>
		</table>
		<div class="btnArea ta_r">
			<a href="javascript:fn_closePopup();" id="maskClose" class="btn_style1"><span>#springMessage("common.button.close")</span></a> <!-- 닫기 -->
		</div>
	</div>
</form>