				#if(${ENABLE_PUSH}=='true') 
                    #set($pushButtonStyle="sbtn SvcPushWrite")
                    #set($pushModifyStyle="SvcPushModify")
                #else
                    #set($pushButtonStyle="sbtn")
                    #set($pushModifyStyle="")
                #end
				<table class="tbl-nb" >
					<colgroup><!--  7cell  -->
						<col width="auto"/>
						<col width="22%"/>
						<col width="13%"/>
						<col width="13%"/>
						<col width="13%"/>
						<col width="10%"/>
						<col width="8%"/>
					</colgroup>
					<thead>
						<tr>
							<th rowspan="2" scope="col">#springMessage("common.header.serviceName")</th>	### 서비스명 ###
							<th rowspan="2" scope="col">#springMessage("common.header.appId")</th>			### APP ID ###
							<th colspan="3" scope="col">#springMessage("common.header.serviceType")</th>	### 제공서비스 ###
							<th rowspan="2" scope="col">#springMessage("common.header.registDate")</th>		### 등록일자 ###
							<th rowspan="2" scope="col"> </th>
						</tr>
						<tr>
							<th scope="col">#springMessage("common.header.mobileService")</th>			### Mobile 서비스 ###
							<th scope="col">#springMessage("common.header.pushService")</th>			### PUSH 서비스 ###
							<th scope="col">#springMessage("common.header.storeService")</th>			### Store 서비스 ###
						</tr>
					</thead>
					<tbody>
					#foreach($serviceDto in $serviceList)
						#set($j_tot = $serviceDto.TOT_CNT)
						<tr>
							<td style="text-align:left;">
								$esc.xml($!serviceDto.SVC_NM)
								<input type="hidden" class="SVC_ID" value="$serviceDto.SVC_ID" />
							</td>
							<td style="text-align:left;">
								$esc.xml($!serviceDto.APP_ID)
							</td>
							<td>
							#if($serviceDto.MOB_YN == "X")
								<a href="javascript:void(0);" id="SvcMobWrite" class="tbl-btn1">#springMessage("common.button.regist")</a><!-- 등록 -->
							#else									
								<select id="SvcMobModify" >
								#if($serviceDto.MOB_YN == "Y")
									<option value="Y" selected="selected">#springMessage("common.header.use_Y")</option>	### 사용 ###
									<option value="N">#springMessage("common.select.stop")</option>							### 중지 ###
								#else
									<option value="Y">#springMessage("common.header.use_Y")</option>						### 사용 ###
									<option value="N" selected="selected">#springMessage("common.select.stop")</option>		### 중지 ###
								#end
								</select>
							#end
								<input type="hidden" class="MOB_YN" value="$!serviceDto.MOB_YN" />
							</td>

							<td>
							#if($serviceDto.PUSH_YN == "X")
								<a href="javascript:void(0);" id="SvcPushWrite" class="tbl-btn1">#springMessage("common.button.regist")</a><!-- 등록 -->
							#else
								<select id="${pushModifyStyle}" >
								#if($serviceDto.PUSH_YN == "N")
									<option value="N" selected="selected">#springMessage("common.header.use_Y")</option>	### 사용 ###
									<option value="Y">#springMessage("common.select.stop")</option>							### 중지 ###
								#else
									<option value="N">#springMessage("common.header.use_Y")</option>						### 사용 ###
									<option value="Y" selected="selected">#springMessage("common.select.stop")</option>		### 중지 ###
								#end
								</select>
							#end
								<input type="hidden" class="PUSH_YN" value="$!serviceDto.PUSH_YN" />
							</td>

							<td>
								#if($serviceDto.STO_YN == "X")
									<a href="javascript:void(0);" id="SvcStoWrite" class="tbl-btn1">#springMessage("common.button.regist")</a>	###등록 ###
								#else
									<select id="SvcStoModify" >
    								#if($serviceDto.STO_YN == "Y")
    									<option value="Y" selected="selected">#springMessage("common.header.use_Y")</option>
    									<option value="N">#springMessage("common.select.stop")</option>
    								#else
    									<option value="Y">#springMessage("common.header.use_Y")</option>
    									<option value="N" selected="selected">#springMessage("common.select.stop")</option>
    								#end
    								</select>
								#end
								<input type="hidden" class="STO_YN" value="$!serviceDto.STO_YN" />
							</td>
							<td>
								$serviceDto.REG_DTTM
							</td>
							<td>
								<a href="javascript:void(0);" id="serviceModify" class="tbl-btn1">#springMessage("common.button.modify")</a>	### 수정 ###
							</td>
						</tr>
					#end
					#if(!$j_tot)
						<tr>
							<td colspan="6" >#springMessage("menu.system.alert.noServiceData")</td>	### 등록된 서비스가 없습니다. ###
						</tr>
					#end
					</tbody>
				</table>

				<input type="hidden" id="SERVICE_NUM" value="$!R_PAGE_NUM" />
				<div class="j_page_div">
					##현재 페이지
					<input type="hidden" name="j_now" value="$!R_PAGE_NUM" />
					##총 개수
					<input type="hidden" name="J_tot" value="$!j_tot" />
					##한페이지의 로우수
					<input type="hidden" name="j_row" value="$!R_ROW_SIZE" />
					##한페이지수
					<input type="hidden" name="j_page" value="$!R_PAGE_SIZE" />
					##이밴트
					<input type="hidden" name="j_event" value="fn_serviceList" />
				</div>