<table class="tbl-nb" summary="KEY,VALUE,상세">
	<colgroup><!--  3cell  -->
		<col width="auto"/><col width="auto"/><col width="70px"/>
	</colgroup>
	<thead>
		<tr>
			<th scope="col">KEY</th>
			<th scope="col">VALUE</th>
			<th scope="col"> </th>
		</tr>
	</thead>
	<tbody>
	#foreach( $varConfig in $varConfigList )
		#set($j_tot = $!varConfig.TOT_CNT)
		<tr>
			<td >
				$esc.xml($!varConfig.VNAME)
				<input type="hidden" class="VNAME" value="$!varConfig.VNAME" />
			</td>
			<td >
				$esc.xml($!varConfig.VVALUE)
			</td>
			<td>
				<a href="javascript:void(0)" class="btn2" id="varModify">#springMessage("common.header.detail")</a> <!-- 상세 -->
			</td>
		</tr>
	#end
	#if(!$j_tot)
		<tr>
			<td colspan="3" class="ta_c">#springMessage("common.alert.nodata")</td> <!-- 데이터가 없습니다. -->
		</tr>
	#end
	</tbody>
</table>

<input type="hidden" id="VAR_NUM" value="$!R_PAGE_NUM" />
<div class="j_page_div">
	##현재 페이지
	<input type="hidden" name="j_now" value="$!R_PAGE_NUM" />
	##총 개수
	<input type="hidden" name="J_tot" value="$!j_tot" />
	##한페이지의 로우수
	<input type="hidden" name="j_row" value="$!R_ROW_SIZE" />
	##한페이지수
	<input type="hidden" name="j_page" value="$!R_PAGE_SIZE" />
	##이밴트
	<input type="hidden" name="j_event" value="fn_varList" />
</div>