<script type="text/javascript">

function fn_GoResDeploy(){

	if($("#DPLY_VER").val() == ""){
		alert('#springMessage("menu.mobile.deploy.alertVersion")'); //"배포 버전을 입력해 주십시오."
		$("#DPLY_VER").focus();
		return;
	}
	if($("#DPLY_NM").val() == ""){
		alert('#springMessage("menu.mobile.deploy.alertTitle")'); //"배포 제목을 입력해 주십시오."
		$("#DPLY_NM").focus();
		return;
	}
	if($("#DPLY_DESC").val() == ""){
		alert('#springMessage("menu.mobile.deploy.alertDesc")'); //"배포 설명을 입력해 주십시오."
		$("#DPLY_DESC").focus();
		return;
	}
	if($("#DPLY_DESC").val().fn_bLength() > 255)
	{
		alert('#springMessage("menu.mobile.manage.limitDesc")'); //"배포 설명은 최대 255자까지만 가능합니다."
		$("#DPLY_DESC").focus();
		return;
	}
	
	if(! confirm('#springMessage("common.alert.askDeploy")')){ //"배포 하시겠습니까?"
		return;
	}

    document.getElementById("loading-indicator").style.display="block";
	$("#popup_div").find("#RESOURCE_LIST").val( $!resourceDeploy.RESOURCE_LIST );
	
	var url =  CONTEXT_PATH + "/admin/mobile/resourceManage/doprocess";
	
	var data = $("form[name=frmPopMain]").serialize();
	
	jQuery.ajax({
		url:url,
		type:"POST",
		data:data,
		dataType:"json",
		success:function(data){
            document.getElementById("loading-indicator").style.display="none";
			alert(data.msg);
			if(data.result > 0){
				fn_Go_url();
			} 
		}
	});
}

function fn_Go_url(){
	document.frmPopMain.action  = CONTEXT_PATH + "/admin/mobile/rsc/deployListMenu";
	document.frmPopMain.submit();
}

</script>
    <div id="loading-indicator" style="width:100%;text-align:center;display:none;">
        <img alt="loading" src= "$RESOURCES_PATH/images/loading.gif" />
    </div>
	
	<div id="popup_div">
		<form name="frmPopMain" method="post">
			<input type="hidden" name="SVC_ID" value="$!resourceDeploy.SVC_ID" />
			<input type="hidden" id="RESOURCE_LIST"  name="RESOURCE_LIST" value="" />
			<input type="hidden" name="RESOURCE_CON" value="$!resourceDeploy.RESOURCE_CON" />
			<input type="hidden" name="MENU_GO" value="0000000016" />
			#if( $resourceDeploy.RESOURCE_CON == "S" )
				<input type="hidden" name="FILE_NM" value="$resourceDeploy.FILE_NM" />
				<input type="hidden" name="FILE_EXT" value="$resourceDeploy.FILE_EXT" />
				<input type="hidden" name="STS_CD" value="$resourceDeploy.STS_CD" />
				<input type="hidden" name="RESOURCEDTTM_S" value="$resourceDeploy.RESOURCEDTTM_S" />
				<input type="hidden" name="RESOURCEDTTM_E" value="$resourceDeploy.RESOURCEDTTM_E" />
			#end
			
			<div>
				<table class="tbl" summary="앱 서비스명,배포 버전,제목,배포모드,암호화여부,설명">
					<colgroup>
						<col  width="20%"/><col  width="80%"/>
					</colgroup>
					<tr>
						<th scope="row"><label for="SVC_NM">#springMessage("common.text.appname")</label></th><!-- App. 명 -->
						<td>
							$!resourceDeploy.SVC_NM
							<input type="hidden" value="$!resourceDeploy.SVC_NM" name="SVC_NM" id="SVC_NM" />
						</td>
					</tr>
					<tr>
						<th scope="row"><label for="DPLY_VER">#springMessage("menu.mobile.manage.deployVersion")</label></th> <!-- 배포 버전 -->
						<td>
							$!resourceDeploy.DEPLOY_VERSION
							<input type="hidden" name="DPLY_VER" id="DPLY_VER" value="$!resourceDeploy.DEPLOY_VERSION" />
						</td>
					</tr>
					<tr>
						<th scope="row"><label for="DPLY_NM">#springMessage("common.header.title")</label></th> <!-- 제목 -->
						<td><input type="text" name="DPLY_NM" id="DPLY_NM" class="inputField" /></td>
					</tr>
					<tr>
						<th scope="row"><label for="DPLY_TP">#springMessage("menu.mobile.deploy.mode")</label></th> <!-- 배포 모드 -->
						<td>
							<select id="DPLY_TP" name="DPLY_TP">
								<option  value="0">#springMessage("menu.mobile.deploy.develop")</option> <!-- 개발 -->
								<option  value="1">#springMessage("menu.mobile.deploy.operate")</option> <!-- 운영 -->
							</select>
						</td>
					</tr>
					<tr>
						<th scope="row"><label for="DEPLOY_FULL_ENC">#springMessage("menu.mobile.manage.encYN")</label></th> <!-- 암호화여부 -->
						<td title="#springMessage('menu.mobile.manage.encDesc')">  <!-- 해당 배포할 리소스들을 암호화 합니다. -->
							<input id="DEPLOY_FULL_ENC" name="DEPLOY_FULL_ENC" type="checkbox" value="Y"/> <label for="DEPLOY_FULL_ENC">#springMessage("menu.mobile.manage.enc")</label> <!-- 암호화 -->
						</td>
					</tr>
					<tr>
						<th><label for="DPLY_DESC">#springMessage("common.header.desc")</label></th> <!-- 설명 -->
						<td><textarea id="DPLY_DESC" name="DPLY_DESC" class="width95" style="height:100px;"></textarea></td>
					</tr>
				</table>

				<div class="btn-wrap txtCenter""  id="deployDiv" >
					<a href="javascript:fn_GoResDeploy();void(0);" class="btn1 type2">#springMessage("common.button.save")</a> <!-- 저장 -->
					<a href="javascript:fn_closePopup();void(0);" class="btn1 type2">#springMessage("common.button.close")</a> <!-- 닫기 -->
				</div>
				
			</div>
		
		</form>
		
	</div>
