<!--  PNS목록  -->

		<table class="tbl" summary="PNS ID,KEYSTORE / SENDER ID / CLIENT ID,비밀번호 / APIKEY / CLIENT SECRET,상세">
			<colgroup><!--  1cell  -->
				<col width="auto"/>
			</colgroup>
			<thead>
				<tr>
					<th>PNS ID</th>
				</tr>
			</thead>
			<tbody>
			#set($j_tot = 0)
			#foreach( $pushPns in $pushPnsList )
				#set($j_tot = $j_tot + 1)
				<tr>
					<td>
						$esc.xml($pushPns.PNSID)
						<input type="hidden" class="PNSID" value="$pushPns.PNSID" />
					</td>
				</tr>
			#end
			#if($j_tot == 0)
				<tr>
					<td colspan="1" class="ta_c">#springMessage("common.alert.nodata")</td> <!-- 데이터가 없습니다. -->
				</tr>
			#end
			</tbody>
		</table>

		<div class="btn-wrap txtCenter">
			<a href="javascript:void(0);" id="pnsWrite" class="btn1">#springMessage("common.button.regist")</a>	<!-- 등록 -->
			<a href="javascript:void(0)" onclick="fn_closePopup()" class="btn1 type2 close">#springMessage("common.button.close")</a> <!-- 닫기 -->
		</div>
