<h2>#springMessage("menu.securePush.manageSend.summaryTitle")</h2> <!-- 메시지 발송 현황 -->
<a style="top:18px;" href="javascript:GO_MENU_URL_favori('0000000099','0000000093','/admin/securepush/manageSend');" class="more">#springMessage("common.button.moreView")</a> <!-- 더보기 -->

<table class="tbl-nb" style="margin-bottom:0px;">
	<colgroup>
		<col style="width:20%">
		<col style="width:20%">
		<col style="width:auto">
		<col style="width:20%">
	</colgroup>
	<thead>
		<tr>
			<th scope="col">#springMessage("menu.securePush.msgSend.sender")</th> <!-- 발신자 -->
			<th scope="col">#springMessage("menu.push.receiverPerson")</th> <!-- 수신자 -->
			<th scope="col">#springMessage("common.header.title")</th> <!-- 제목 -->
			<th scope="col" class="last">#springMessage("menu.push.sendManage.readCheck")<br/>(#springMessage("menu.stats.push.read")/#springMessage("menu.securePush.msgSend.receiverNum"))</th> <!-- 읽음확인 (읽음/수신자수) -->
		</tr>
	</thead>
	<tbody>
		#foreach( $itemInfo in $itemList)
			#set($j_tot = $!itemInfo.TOT_CNT)
		<tr>
			<td class="first">$esc.xml($!itemInfo.SENDER_NM)</td>
			<td class="first">$!itemInfo.RECV_NM</td>
			<td class="first">
				#if($!itemInfo.FORWARD_YN == "Y")
				[FW]
				#end
				$!itemInfo.TITLE
			</td>
			<td class="last">$!itemInfo.READ_CNT/$!itemInfo.RECV_CNT</td>
		</tr>
		#end
		#if(!$j_tot)
		<tr>
			<td colspan="4" class="ta_c" style="height:115px">#springMessage("common.alert.nodata")</td>		### 데이터가 없습니다 ###
		</tr>
		#end
	</tbody>
</table>
