<script type="text/javascript">
$(document).ready(function() {
	//조직도에서 하위 조직이 있으면 화살표 생성
	$(".tree-div a").on("click keydown",function(){
		$(this).nextAll("div").slideToggle();
		$(this).toggleClass("expanded");
	});

	// 부서 트리 선택 토글 이벤트 처리.
	$(".tree-div span").on("click keydown",function(){
		$(this).toggleClass("selected");
		$(".tree-div span").not(this).each(function(){
			$(this).removeClass("selected");
		});
		if($(this).hasClass("selected")){
			fn_getUserList($(this).siblings("input").val());
		}
	});
});


// 부서 검색
function ch_deptSearch(){
	var sfrm=document.deptfrmSearch;
	if(sfrm.DEPT_NM.value.length>0&&sfrm.DEPT_NM.value.length<2){
		alert('#springMessage("common.alert.lowerlimitSeachKeyword")');  //"검색어를 2글자 이상 입력해 주세요."
		sfrm.DEPT_NM.value="";
		sfrm.DEPT_NM.focus();
		return;
	}
	fn_getDeptList();
}

// 부서 목록 조회.
function fn_getDeptList(){
	var url = CONTEXT_PATH + "/admin/securepush/organization/findDept";
	var type = "POST";
	var data = $("form[name=deptfrmSearch]").serialize();
	var target = $("#listDeptTableDiv");
	
	fn_getList( url, type, data , target );
	
}

// 조직원 검색
function ch_userSearch(){
	var sfrm=document.userfrmSearch;
	if(sfrm.USER_NM.value.length>0&&sfrm.USER_NM.value.length<2){
		alert('#springMessage("common.alert.lowerlimitSeachKeyword")');  //"검색어를 2글자 이상 입력해 주세요."
		sfrm.USER_NM.value="";
		sfrm.USER_NM.focus();
		return;
	}
	fn_getUserList();
}

// 조직원 목록 조회.
function fn_getUserList(deptCd){

	var url = CONTEXT_PATH + "/admin/securepush/organization/findUser";
	var type = "POST";
	var data = '';
	if(deptCd != null && typeof(deptCd) != 'undefined'){
		data = "DEPT_CD=" + deptCd;
	}else{
		data = $("form[name=userfrmSearch]").serialize();
	}
	var target = $("#listUserTableDiv");
	
	fn_getList( url, type, data , target );
}


//공통코드 리스트 페이지 호출(공통)
function fn_getList( url, type, data, target ){
	
	var AjaxHTML = jQuery.ajax({
		url: url ,
		type: type ,
		data: data ,
		dataType: "html" ,
		async: false ,
		cache:false
	}).responseText;

	target.html(AjaxHTML);
}
</script>

<div class="contents-area">
	#### S : 프로그램 위치 기술 부분  ####
	<div class="nav">
		<span></span>
		<span></span>
	</div>
	<h2 class="page-title"></h2>
	#### E : 프로그램 위치 기술 부분  ####

	<div>
		<table>
			<caption></caption>
			<colgroup>
				<col>
				<col style="width:10px">
				<col>
			</colgroup>
			<tr>
				<td class="tbl-wrap valignTop">
					<div>
						<form name="deptfrmSearch" method="post">
						<table class="tbl-pop-search">
							<caption>#springMessage("menu.securePush.manageAccount.deptSearch")</caption> <!-- 부서 검색 -->
							<colgroup>
								<col style="width:280px">
								<col style="width:60px">
							</colgroup>
							<thead>
								<td><input type="text" name="DEPT_NM" id="deptnm" placeholder="#springMessage('menu.securePush.manageAccount.deptSearch')" class="full" onkeydown="javascript:if(event.keyCode==13){ch_deptSearch();return false;}" /></td> <!-- 부서 검색 -->
								<td><button type="button" class="tbl-btn1" onClick="ch_deptSearch()">#springMessage("common.button.search")</button></td> <!-- 검색 -->
							</thead>
						</table>
						</form>
					</div>
					<div id="listDeptTableDiv">
						<table class="tbl-pop-info" style="margin-bottom:10px;">
							<colgroup>
								<col style="width:280px">
								<col style="width:60px">
							</colgroup>
							<tbody>
								<tr><td colspan="2"><div class="tree-div" style="height:550px;">
									#set( $levelcnt_map = {} )
									#foreach( $dept in $deptList )
										
									<div class="dep$!dept.LEVEL">
										<span>$!dept.DEPT_NM</span>
										#if($dept.hasChild)
											#set($dummy = $levelcnt_map.put($dept.LEVEL, $dept.childCnt))
											#if($dept.LEVEL == 1)
										<a class="expanded" href='javascript:void(0)'></a>
											#else
										<a href='javascript:void(0)'></a>	
											#end
										#end
										<input type="hidden" class="DEPT_CD" value="$!dept.DEPT_CD"/>
										<input type="hidden" class="DEPT_FULL_NM" value="$!dept.FULL_NM"/>
										
										#if(!$dept.hasChild)
									</div>
										#end
										
										## 상위 레벨의 태그가 열린 것이 있으면 닫는다.
										#if($dept.LEVEL > 1)
											#set( $prev_level = $dept.LEVEL - 1)
											#set($current_levelcnt = $levelcnt_map.get($prev_level) - 1)
											#set($dummy = $levelcnt_map.put($prev_level, $current_levelcnt))
											
											#if(!$dept.hasChild)
												#set($isinterrupted = false)
												#foreach($item in $levelcnt_map)
													#if($!levelcnt_map.get($prev_level) == 0 && !$isinterrupted)
									</div>		
													#else
														#set($isinterrupted = true)
													#end
													#set( $temp = $prev_level - 1 )
													#set( $prev_level = $temp)
												#end
											#end
										#end
									#end
								</div></td></tr>
							</tbody>
						</table>
					</div>
				</td>
				<td></td>
				<td class="tbl-wrap valignTop">
					<div>
						<form name="userfrmSearch" method="post">
						<table class="tbl-pop-search">
							<caption>#springMessage("menu.securePush.manageAccount.nameSearch")</caption> <!-- 이름 검색 -->
							<colgroup>
								<col style="width:360px">
								<col style="width:60px">
							</colgroup>
							<thead>
								<td><input type="text" name="USER_NM" id="usernm" placeholder="#springMessage('menu.securePush.manageAccount.nameSearch')" class="full" onkeydown="javascript:if(event.keyCode==13){ch_userSearch();return false;}" /></td> <!-- 이름 검색 -->
								<td><button type="button" class="tbl-btn1" onClick="ch_userSearch()">#springMessage("common.button.search")</button></td> <!-- 검색 -->
							</thead>
						</table>
						</form>
					</div>
					<div id="listUserTableDiv">
						<table class="tbl-pop-info user-list" style="margin-bottom:10px;">
							<colgroup>
								<col style="width:360px">
								<col style="width:60px">
							</colgroup>
							<tbody>
								<tr><td colspan="2"><div class="user-list-div" style="height:550px;">
									<table>
										<colgroup>
											<col style="width:120px">
											<col style="width:300px">
										</colgroup>
										<tr>
											<th>#springMessage("common.text.name")</th> <!-- 이름 -->
											<th>#springMessage("common.text.dept")</th> <!-- 부서 -->
										</tr>
										#foreach( $emp in $empList )
										<tr class="user-list-row">
											<td>$!emp.USER_NM<input type="hidden" class="USER_ID" value="$!emp.USER_ID"/><input type="hidden" class="USER_NM" value="$!emp.USER_NM"/></td>
											<td>$!emp.FULL_NM</td>
										</tr>
										#end
									</table>
								</div></td></tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>