<br />
<h4 class="title">#springMessage("common.text.user") #springMessage("common.text.list")</h4> <!-- 사용자 목록 -->
<table class="tbList1" id="userList">
	<colgroup>
		<col style="width:50px;"/>
		<col />
    </colgroup>
	<thead>
		<tr>
            <th><input type="checkbox" class="ck_head_usr"/></th>
			<th>#springMessage("common.text.userName")</th> <!-- 사용자명 -->
		</tr>
    </thead>
	<tbody>
	#foreach( $data in $usrList )
		#set($j_usr_tot = $!data.TOT_CNT)
	<tr>
        <td><input type="checkbox" class="ck_row_usr" EMP_NO="$!{data.EMP_NO}" EMP_NM="$!{data.EMP_NM}" /></td>
		<td style="text-align:left;">$!{data.EMP_NM}</td>
	</tr>
	#end
    </tbody>
</table>


<form name="frmUser">
<input type="hidden" name="PAGE_NUM" value="$!{usrPager.R_PAGE_NUM}"/>
<input type="hidden" name="PAGE_SIZE" value="$!{usrPager.R_ROW_SIZE}"/>
<input type="hidden" name="EMP_NO" value="$!{EMP_NO}"/>
<input type="hidden" name="EMP_NM" value="$!{EMP_NM}"/>
<input type="hidden" name="APP_IDX" value="$!{APP_IDX}"/>
</form>


<!-- 
<div class="j_user_page_div">
	##현재 페이지
	<input type="hidden" name="j_now" value="$!{usrPager.R_PAGE_NUM}"/>
	##총 개수
	<input type="hidden" name="J_tot" value="$!j_usr_tot"/>
	##한페이지의 로우수
	<input type="hidden" name="j_row" value="$!{usrPager.R_ROW_SIZE}"/>
	##한페이지수
	<input type="hidden" name="j_page" value="$!{usrPager.R_PAGE_SIZE}"/>
	##이밴트
	<input type="hidden" name="j_event" value="fn_selectUserList"/>
</div>
 -->




<script type="text/javascript">
		// 체크박스 초기화
		fn_mp_bindEvent_listCheckbox("ck_head_usr", "ck_row_usr", function(onEa, offEa){});
		//fn_page('j_user_page_div', '$!{CONTEXT_PATH}');
</script>
