<script type="text/javascript">
$(document).ready(function(){
	//공통 페이징 처리
	fn_page('j_page_div', '$!{CONTEXT_PATH}');

	//검색메뉴 hide
	$(".se_con").each(function(i){
		if(i != 0){
			$(this).hide();
		}
	});
});

$(document).on("change","#conSelect",function(){
	var su = $(this).val();
	$(".se_con").hide();
	$(".se_con").val("");
	$(".se_con:eq(" + su + ")").show();
	
	$("form[name=frmSearch]").find("input[name=REG_START_DATE]").val('');
	$("form[name=frmSearch]").find("input[name=REG_END_DATE]").val('');
});

//등록 화면 (게시글 수정)
$(document).on("click","#pageWrite",function(){
	fn_goDetailPop();
});

//카테고리 목록 팝업 호출.
$(document).on("click","#pageCatg",function(){
	fn_goCatgPop();
});

//검색
function ch_search(){
	var sfrm=document.frmSearch;
	var sval=$("#conSelect").val();
	if(!fn_validate(sval))return;
	
	fn_pageList(1);
}

//검색 시작 시간을 yyyymmddhhmiss 포맷으로 변경.
function fn_formatStartDate(){
	var _reservDate = $("form[name=frmSearch]").find("input[name=START_DATE]").val();
	_reservDate = _reservDate.replace(/\./g, "");
	return _reservDate + '000000';
}

//검색 종료 시간을 yyyymmddhhmiss 포맷으로 변경.
function fn_formatEndDate(){
	var _reservDate = $("form[name=frmSearch]").find("input[name=END_DATE]").val();
	_reservDate = _reservDate.replace(/\./g, "");
	return _reservDate + '235959';
}

// 검색 입력 폼 validate.
function fn_validate(sval){
	var sfrm=document.frmSearch;
	
	if(sval==0){
		if(sfrm.TITLE.value.length>0 && sfrm.TITLE.value.length<2){
			alert('#springMessage("common.alert.lowerlimitSeachKeyword")');  //검색어를 2글자 이상 입력해 주세요.
			sfrm.TITLE.value="";
			sfrm.TITLE.focus();
			return false;
		}
	}else if(sval==1){
		if(sfrm.USER_NM.value.length>0 && sfrm.USER_NM.value.length<2){
			alert('#springMessage("common.alert.lowerlimitSeachKeyword")');  //검색어를 2글자 이상 입력해 주세요.
			sfrm.USER_NM.value="";
			sfrm.USER_NM.focus();
			return false;
		}
	}else if(sval == 2){
		if( $("form[name=frmSearch]").find("input[name=START_DATE]").val() == ""){
			alert('#springMessage("menu.securePush.manageSend.alert.inputStartSearchDate")'); // 검색 시작 날짜를 선택해 주세요.
			$("form[name=frmSearch]").find("input[name=START_DATE]").focus();
			return false;
		}else if( $("form[name=frmSearch]").find("input[name=END_DATE]").val() == ""){
			alert('#springMessage("menu.securePush.manageSend.alert.inputEndSearchDate")'); // 검색 종료 날짜를 선택해 주세요.
			$("form[name=frmSearch]").find("input[name=END_DATE]").focus();
			return false;
		}
		
		var startTime = fn_formatStartDate();
		var endTime = fn_formatEndDate();
		
		if(parseInt(endTime) <= parseInt(startTime)){
			alert('#springMessage("menu.securePush.manageSend.alert.invalidEndSearchDate")'); // 검색 종료 시간을 시작 시간 이후로 설정해 주세요.
			return false;
		}
		$("form[name=frmSearch]").find("input[name=REG_START_DATE]").val(startTime);
		$("form[name=frmSearch]").find("input[name=REG_END_DATE]").val(endTime);
	}
	return true;
}

//페이지 처리
function fn_pageList(PAGE_NUM){
	var url = CONTEXT_PATH + "/admin/securepush/freeBoard";
	var type = "POST";
	var data = $("form[name=frmSearch]").serialize() + "&PAGE_NUM=" + PAGE_NUM;
	var target = $("#listTableDiv");
	fn_getList( url, type, data , target );
	fn_page('j_page_div', '$!{CONTEXT_PATH}');
}

//공통코드 리스트 페이지 호출(공통)
function fn_getList( url, type, data, target ){
	var AjaxHTML = jQuery.ajax({
		url: url ,
		type: type ,
		data: data ,
		dataType: "html" ,
		async: false ,
		cache:false
	}).responseText;

	target.html(AjaxHTML);
}

// 상세 팝업 호출.
function fn_goDetailPop(boardId){
	var url = CONTEXT_PATH + "/admin/securepush/freeBoard/register";
	var type = "GET";
	var data = "";
	var target = $("#windowPop");
	var whideh = 650;
	var title = '#springMessage("menu.securePush.freeBoard.regPost")';   //게시글 등록
	
	if(boardId != null && typeof(boardId) != 'undefined'){
		data = "BOARD_ID=" + boardId;
		title = '#springMessage("menu.securePush.freeBoard.editPost")'; // 게시글 수정
		url = CONTEXT_PATH + "/admin/securepush/freeBoard/detailView";
		type = "POST";
	}
	fn_getCommonPopupDiv( url, type, data , target , whideh, title );
}

//카테고리 팝업 호출.
function fn_goCatgPop(){
	var url = CONTEXT_PATH + "/admin/securepush/freeBoard/categoryList";
	var type = "POST";
	var data = "";
	var target = $("#windowPop");
	var whideh = 800;
	var title = '#springMessage("menu.securePush.freeBoard.catgList")';   //카테고리 목록
	fn_getCommonPopupDiv( url, type, data , target , whideh, title );
}

function fn_changeRowSize(){
	fn_commonSetRowSize();
	fn_pageList(1);
}
</script>
<div class="contents-area">
	#### S : 프로그램 위치 기술 부분  ####
	<div class="nav">
		<span></span>
		<span></span>
	</div>
	<h2 class="page-title"></h2>
	#### E : 프로그램 위치 기술 부분  ####

	#### S : 조회 폼 부분  ####
	<form name="frmSearch" method="post">
		<table class="tbl-search">
			<caption>#springMessage("menu.securePush.freeBoard")</caption> <!-- 자유게시판 관리 -->
			<colgroup>
				<col>
				<col>
			</colgroup>
			<thead>
				<tr>
					<td>
						<div class="tbl-select">
							<label for="conSelect">#springMessage("common.header.title")</label><!-- 제목 -->
							<select id="conSelect" >
								<option value="0">#springMessage("common.header.title")</option><!-- 제목 -->
								<option value="1">#springMessage("common.header.author")</option><!-- 작성자 -->
								<option value="2">#springMessage("common.header.registDate")</option><!-- 작성일 -->
								<option value="3">#springMessage("menu.securePush.freeBoard.catg")</option><!-- 카테고리 -->
        					</select>
        				</div>
        				<input class="se_con" type="text" id="TITLE" name="TITLE" title="#springMessage('common.title.searchIn')" onkeydown="javascript:if(event.keyCode==13){ch_search();return false;}"/> <!-- 검색어입력 -->
						<input class="se_con" type="text" id="USER_NM" name="USER_NM" title="#springMessage('common.title.searchIn')" onkeydown="javascript:if(event.keyCode==13){ch_search();return false;}"/> <!-- 검색어입력 -->
						<div class="se_con" style="display:inline-block;">
        					<input type="hidden" name="REG_START_DATE" value="" />
        					<input type="text" name="START_DATE" id="START_DATE" class="datepicker sDate" placeholder="#springMessage('menu.securePush.manageSend.selectDate')"><label for="START_DATE"><img src="$RESOURCES_PATH/images/common/datepicker.png" alt=""></label> <!-- 날짜선택 -->
        					~
				   		    <input type="hidden" name="REG_END_DATE" value="" />
        					<input type="text" name="END_DATE" id="END_DATE" class="datepicker sDate" placeholder="#springMessage('menu.securePush.manageSend.selectDate')"><label for="END_DATE"><img src="$RESOURCES_PATH/images/common/datepicker.png" alt=""></label> <!-- 날짜선택 -->
        				</div>
        				<div class="se_con tbl-select">
							<label for="CATG_ID">#springMessage("common.select.choose")</label><!-- 선택 -->
							<select name="CATG_ID" id="CATG_ID" onchange="fn_pageList(1)">
        						<option value="">#springMessage("common.select.choose")</option><!-- 선택 -->
        						#foreach( $catgInfo in $catgList )
        						<option value="$!catgInfo.CATG_ID" onkeydown="javascript:if(event.keyCode==13){fn_pageList(1);return false;}">$!catgInfo.CATG_NM</option>
        						#end
        					</select>
        				</div>
					</td>
					<td>
						<a href="javascript:ch_search();" class="tbl-btn2">#springMessage("common.button.view")</a> <!-- 조회 -->
						<input type="hidden" id="PAGE_SIZE" name="PAGE_SIZE"/>
					</td>
				</tr>
			</thead>
		</table>
		
	</form>
	#### E : 조회 폼 부분  ####

	<form name="frmList" method="post">
	#### S : 리스트  폼 부분  ####
		<table class="tbl-info">
			<caption></caption>
			<tr>
				<td>
					<a href="javascript:void(0)" class="btn2" id="pageWrite">#springMessage("common.button.regist")</a> <!-- 등록 -->
					<a href="javascript:void(0)" class="btn2" id="pageCatg">#springMessage("menu.securePush.freeBoard.catgList")</a> <!-- 카테고리 목록 -->
				</td>
				<td class="txtRight">
					#springMessage("common.header.searchResult") <span id="spaTotCnt"></span> ㅣ  <!-- 검색결과 -->
					<div class="tbl-info-select">
						<label for="num">#springMessage("common.select.options_10")</label>
						<select id="selRowSize" onchange="fn_changeRowSize()">
            				<option value="10">#springMessage("common.select.options_10")</option>
            				<option value="30">#springMessage("common.select.options_30")</option>
            				<option value="50">#springMessage("common.select.options_50")</option>
            			</select>
					</div>
				</td>
			</tr>
		</table>
			
		<div id="listTableDiv">
		
			<table class="tbl-nb" summary="카테고리,제목,첨부파일,작성자,작성일,상세">
				<colgroup>
					<col width="20%" /><col width="auto" /><col width="8%" /><col width="11%" />
					<col width="14%" /><col width="11%" />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">#springMessage("menu.securePush.freeBoard.catg")</th> <!-- 카테고리 -->
						<th scope="col">#springMessage("common.header.title")</th> <!-- 제목 -->
						<th scope="col">#springMessage("common.text.upFile")</th> <!-- 첨부파일 -->
						<th scope="col">#springMessage("common.header.author")</th> <!-- 작성자 -->
						<th scope="col">#springMessage("common.header.registDate")</th> <!-- 작성일 -->
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					#foreach( $itemInfo in $itemList )
						#set($j_tot = $!itemInfo.TOT_CNT)
						<tr class="itemRow">
							<td >
								$esc.xml($!itemInfo.CATG_NM)
								<input type="hidden" class="BOARD_ID" value="$!itemInfo.BOARD_ID" />
							</td>
							<td >
								$esc.xml($!itemInfo.TITLE)
							</td>
							<td>
								$!itemInfo.ATTACH_YN
							</td>
							<td>
								$esc.xml($!itemInfo.USER_NM)
							</td>
							<td>
								$!itemInfo.REG_DT
							</td>
							<td>
								<a href="javascript:fn_goDetailPop('$!itemInfo.BOARD_ID');void(0);" class="btn2">#springMessage("common.button.detail")</a> <!-- 상세 -->
							</td>
						</tr>
					#end
					#if(!$j_tot)
						<tr>
							<td colspan="6" class="ta_c">#springMessage("common.alert.nodata")</td>		### 데이터가 없습니다 ###
						</tr>
					#end
				</tbody>
			</table>

			<input type="hidden" id="PAGE_NUM" value="$!R_PAGE_NUM" />
		
			<div class="j_page_div">
				##현재 페이지
				<input type="hidden" name="j_now" value="$!R_PAGE_NUM" />
				##총 개수
				<input type="hidden" name="J_tot" value="$!j_tot" />
				##한페이지의 로우수
				<input type="hidden" name="j_row" value="$!R_ROW_SIZE" />
				##한페이지수
				<input type="hidden" name="j_page" value="$!R_PAGE_SIZE" />
				##이밴트
				<input type="hidden" name="j_event" value="fn_pageList" />
			</div>
				
		</div>
		#### E : 리스트  폼 부분  ####

	</form>
	
</div>