<table class="tbl-nb">
    <colgroup><!--  7cell  -->
        <col width="150px"/>
		<col width="auto"/>
		<col width="140px"/>
		<col width="80px"/>
        <col width="80px"/>
		<col width="80px"/>
    </colgroup>
    <thead>
    <tr>
        <th scope="col">APPID</th>
        <th scope="col">#springMessage("menu.stats.push.message")</th> <!-- 메세지 -->
        <th scope="col">#springMessage("menu.push.sendManage.reserveDate")</th> <!-- 예약일 -->
        <th scope="col">#springMessage("menu.push.sendManage.sendForm")</th> <!-- 발송형태 -->
        <th scope="col">#springMessage("menu.mobile.deploy.status")</th> <!-- 상태 -->
        <th scope="col">#springMessage("common.button.cancel")/#springMessage("common.button.delete")</th> <!-- 취소/삭제 -->
    </tr>
    </thead>
    <tbody>
        #foreach( $reserveMsgDto in $reserveMsgDtoList )
            #set($j_tot = $reserveMsgDto.TOT_CNT)
            #set($PROCESS_FLAG="예약")
            #set($SEND_TYPE="전체")
            #set($PROCESS_COLOR="#000000")

            #if($reserveMsgDto.PROCESS_FLAG == "R")
                #set($PROCESS_FLAG="발송대기")
                #set($PROCESS_COLOR="GRAY")
            #elseif($reserveMsgDto.PROCESS_FLAG == "Y")
                #set($PROCESS_FLAG="발송중")
                #set($PROCESS_COLOR="BLUE")
            #elseif($reserveMsgDto.PROCESS_FLAG == "F")
                #set($PROCESS_FLAG="실패")
                #set($PROCESS_COLOR="RED")
            #end

            #if($reserveMsgDto.TYPE=="E")
                #set($SEND_TYPE="개별")
            #elseif($reserveMsgDto.TYPE == "G")
                #set($SEND_TYPE="그룹")
            #elseif($reserveMsgDto.TYPE == "C")
                #set($SEND_TYPE="CSV")
            #end
        <tr class="no_select">

            <td id="check_td">
                $!{reserveMsgDto.APP_ID}
            </td>
            <td id="check_td">
                $!{reserveMsgDto.MESSAGE}
            </td>
            <td id="check_td" >
                $!{reserveMsgDto.RESERVEDATE}
            </td>
            <td id="check_td">
                $SEND_TYPE
            </td>
            <td id="check_td" style="color: $PROCESS_COLOR">
                $PROCESS_FLAG
            </td>
            <td>
            	<a href="javascript:void(0)" id="reserveSendDelete" onclick="javascript:reserveCancel('$reserveMsgDto.RESERVE_SEQNO');" class="tbl-btn1">#springMessage("common.button.delete")</a>	<!-- 삭제 -->
            </td>
        </tr>
        #end
        #if(!$j_tot)
        <tr><td colspan="6">#springMessage("common.alert.nodata")</td> <!-- 데이터가 없습니다. --></tr>
        #end
    </tbody>
</table>
<input type="hidden" id="SEND_NUM" value="$!R_PAGE_NUM">
<div class="j_page_div">
##현재 페이지
    <input type="hidden" name="j_now" value="$!R_PAGE_NUM">
##총 개수
    <input type="hidden" name="J_tot" value="$!j_tot">
##한페이지의 로우수
    <input type="hidden" name="j_row" value="$!R_ROW_SIZE">
##한페이지수
    <input type="hidden" name="j_page" value="$!R_PAGE_SIZE">
##이밴트
    <input type="hidden" name="j_event" value="fn_RserveList">
</div>