<table class="tb_list">
	<colgroup><!--  6cell  -->
		<col width="20%"/>
		<col width="auto"/>
		<col width="15%"/>
		<col width="10%"/>
		<col width="10%"/>
		<col width="100px"/>
	</colgroup>
	<thead>
   		<tr>
   			<th>
   				#springMessage("menu.push.serverType") <!-- 서버 종류 -->
   			</th>
   			<th>
				#springMessage("menu.push.serverName") <!-- 서버 이름 -->
			</th>
			<th>
				IP
			</th>
			<th>
				PORT
			</th>
			<th>
				#springMessage("menu.mobile.deploy.status") <!-- 상태 -->
			</th>
			<th>
				#springMessage("menu.push.monitoring.errorList") <!-- 장애 리스트 -->
			</th>
       	</tr>
    </thead>

    <tbody>
       	#foreach( $monitoring in $monitoringList )
       		#set($j_tot = $!monitoring.TOT_CNT)
           	<tr>
           		<td style="text-align:left;">
           			#if($!monitoring.SERVERTYPE == "UPNS")
           				UPNS
       				#elseif($!monitoring.SERVERTYPE  == "RECV")
       					RECEIVER
       				#elseif($!monitoring.SERVERTYPE  == "PRVD")
       					PROVIDER
       				#elseif($!monitoring.SERVERTYPE  == "MEDI")
       					MEDIATOR
       				#end
           			<input type="hidden" class="IPADDRESS" value="$!monitoring.IPADDRESS">
           			<input type="hidden" class="PORT" value="$!monitoring.PORT">
   				</td>
   				<td style="text-align:left;">
           			$esc.xml($!monitoring.SERVERNAME)
           		</td>
           		<td>
           			$esc.xml($!monitoring.IPADDRESS)
           		</td>
           		<td>
           			$esc.xml($!monitoring.PORT)
           		</td>
           		<td>
           			$!monitoring.STATUS
           		</td>
   				<td>
           			<button type="button" id="monitoringInfo" class="sbtn">#springMessage("common.header.detail")</button> <!-- 상세 -->
   				</td>
       		</tr>
   		#end
   		#if(!$j_tot)
			<tr>
				<td colspan="6">
					#springMessage("common.alert.nodata") <!-- 데이터가 없습니다. -->
				</td>
			</tr>
		#end
	</tbody>
</table>
<input type="hidden" id="MONITORING_NUM" value="$!R_PAGE_NUM">
<div class="j_page_div">
 	##현재 페이지
 	<input type="hidden" name="j_now" value="$!R_PAGE_NUM">
    ##총 개수
    <input type="hidden" name="J_tot" value="$!j_tot">
    ##한페이지의 로우수
    <input type="hidden" name="j_row" value="$!R_ROW_SIZE">
    ##한페이지수
    <input type="hidden" name="j_page" value="$!R_PAGE_SIZE">
    ##이밴트
    <input type="hidden" name="j_event" value="fn_monitoringList">
</div>