<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="$RESOURCES_PATH/js/jquery.js"></script>
</head>
<body>
	<input type="hidden" id="msg" value="$msg" />
	<input type="hidden" id="url" value="$url" />
</body>
</html>
<script language='javascript'>
	if($("#msg").val() != ""){
		alert($("#msg").val());
	}
	document.location.href = $("#url").val();
</script>