<table class="tb_list" summary="제목,등록자,등록일,수정자,상세">
	<colgroup><!--  6cell  -->
		<col width="60%"/>
		<col width="20%"/>
		<col width="10%"/>
		<col width="10%"/>
		<col width="70px"/>
	</colgroup>
	<thead>
		<tr>
			<th scope="col">API URL</th>
			<th scope="col">#springMessage("common.text.apiName")</th> <!-- API 명 -->
            <th scope="col">#springMessage("common.text.appname")</th> <!-- App. 명 -->
            <th scope="col">#springMessage("menu.mobile.deploy.date")</th> <!-- 등록일 -->
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
	#foreach( $a in $dummyList )
		#set($j_tot = $a.TOT_CNT)
		<tr>
			<td style="text-align:left;">
				$esc.xml($!a.apiUrl)
				<input type="hidden" class="dummyIdx" value="$!a.dummyIdx"/>
			</td>
			<td style="text-align:left;">
				$esc.xml($!a.apiNm)
			</td>
			<td style="text-align:left;">
				$esc.xml($!a.svcNm)
			</td>
			<td>
				$esc.xml($!a.regDttm)
			</td>
			<td>
				<button type="button" id="dummyInfo" class="sbtn">#springMessage("common.button.modify")</button> <!-- 수정 -->
			</td>
		</tr>
	#end
	#if(!$j_tot)
		<tr>
			<td colspan="5" class="ta_c">#springMessage("common.alert.nodata")</td> <!-- 데이터가 없습니다. -->
		</tr>
	#end
	</tbody>
</table>

<input type="hidden" id="NOTICE_NUM" value="$!R_PAGE_NUM"/>
<div class="j_page_div">
	##현재 페이지
	<input type="hidden" name="j_now" value="$!R_PAGE_NUM"/>
	##총 개수
	<input type="hidden" name="J_tot" value="$!j_tot"/>
	##한페이지의 로우수
	<input type="hidden" name="j_row" value="$!R_ROW_SIZE"/>
	##한페이지수
	<input type="hidden" name="j_page" value="$!R_PAGE_SIZE"/>
	##이밴트
	<input type="hidden" name="j_event" value="fn_noticeList"/>
</div>